h1 {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin-top: 50px; */
}

p {
    color: #666;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
}


img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;

}
img:hover {
    transform: scale(1.05);
}